<% title @post.title %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="highlight">
				<%= render partial: 'post', locals: {post: @post} %>
				<pre>
					<p><%= @post.content %></p>
				</pre>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="btn-group btn-group-justified">
				<div class="btn-group">
					<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary" %>
				</div>
 				<div class="btn-group">
 					<%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Do you want to delete it?'}, class: "btn btn-success" %>
 				</div>
				<div class="btn-group">
					<%= link_to 'View All Posts', posts_path, class: "btn btn-info" %>
				</div>
			</div>
		</div>	
	</div>
	-------------------------------------- <!-- how can I use a style only for this page? -->
	<div class="row">
		<div class="col-md-3">
			<%= link_to 'Make a Comment', new_post_comment_path(@post), class: "btn btn-success" %>
		</div>
	</div>
<div class="container">

<%= render @post.comments %>
</div>

</div>
