<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="collapse navbar-collapse" id="navbar-collapse1">

			<ul class="nav navbar-nav">
				<%= nav_link 'Welcome', welcome_path %>
				<% if current_user %>
					<%= nav_link 'Posts', posts_path %>
				<% end %>
			</ul>

			<ul class="nav navbar-nav pull-right">
				<% if current_user %>
					<%= nav_link 'Sign Out', sign_out_path %>
				<% else %>
					<%= nav_link 'Register', sign_up_path %>
					<%= nav_link 'Sign In', sign_in_path %>
				<% end %>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid">
<header class="page-header">
	<h1 class="blog-title">Group</h1>
</header>

<% flash.each do |name, msg| %>
			<div class="alert alert-<%= name == :notice ? 'success' : 'danger' %> alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<%= msg %>
			</div>
	<% end %>

<%= yield %>
</div>
</div>
<div id="footer"> 
	<div class="container">
		<p class="text-muted"> &copy Joohan Lee </p>
	</div>

</body>
</html>


